.custom-navbar {
    background-color: transparent;
    margin-bottom: -4.1%;
    z-index: 3;

    .brand-name {
        color: var(--white);
        font-weight: 700;
    }

    .brand-name:hover {
        color: var(--white);
    }
}
