*, html, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Mali', cursive;
  font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-bg-color: #094074;
    --secondary-bg-color: #3c6997;
    --third-bg-color: #FE9000;
    --white: #fff;
    --black: #000;
}

.text-description {
    font-size: 1.6em;
    color: var(--white);
}
